<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"
        href="../../lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="../../lib/bootstrap-3.3.4/css/bootstrap.css"/>

  <link rel="stylesheet" type="text/css" href="../../css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin-layout.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/entity/entity.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/jquery/plugins/jquery.custom-scrollbar.css"/>
  <style>
    table.entity-filters-table,
    .entity-filters-table thead,
    .entity-filters-table tbody,
    .entity-filters-table tr,
    .entity-filters-table th,
    .entity-filters-table td {
      border: 1px solid black;
    }

    .entity-filters-table td {
      background-color: white;
      padding: 5px;
    }

    .entity-filters-table td ul.entity-filter {
      position: relative;
    }
  </style>
</head>
<body>
<div th:fragment="full_entity_grid">
  <div class="entity-grid-container entity-grid-autofill">
    <div class="header">
      <table class="table table-condensed table-hover">
        <thead>
        <tr></tr>
        </thead>
      </table>
    </div>

    <div class="body default-skin ">
      <table class="table table-condensed table-hover">
        <thead>
        <tr class="width-control-header"></tr>
        </thead>
        <tbody class="real-data"
               data-recordranges="0-0,0-0"
               data-totalrecords="0"
               data-pagesize="0"
               data-baseurl="/">
        <tr class="empty-mark">
          <td colspan="${#lists.size(entityGridInfo.fields) + 1}" class="entity-grid-no-results" th:inline="text">
            [[#{general.NoRecordsFound}]]
          </td>
        </tr>
        <!--/*-->
        <!-- FOLLOWING WILL BE DELETED BY THYMELEAF -->
        <tr data-entity-id="0" data-entity-type="xx.xx.xx.Xxx" data-entity-path="/xx/0"
            data-entity-name="Name">
        </tr>
        <!--*/-->
        </tbody>
      </table>

    </div>

    <div class="footer">
      <div>
          <span>
            <span class="screen-range-of-results"
                  th:utext="#{general.ScreenRange_OfResults_Unescaped}"/>
          </span>
      </div>
    </div>

    <span class="spinner">
      <i class="spinner-item fa fa-spin fa-spinner"></i>
    </span>
  </div>
</div>

<div th:fragmen="filters">
  <table class="entity-filters-table">
    <thead>
    <tr>
      <th style="width: 10%;">Entity Type</th>
      <th style="width: 90%;">Entity Filter</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>End</th>
      <th></th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>Basic</td>
      <td>
        <ul class="entity-filter no-hover">
          <li>
            <div class="filter-fields" data-action="">
              <input type="hidden" class="sort-property" data-name="sortProperty" th:value="${fieldName}"/>
              <input type="hidden" class="sort-direction" data-name="sortDirection"/>

              <div class="text-filter-control">
                <button class="filter-button btn btn-info" th:inline="text">
                  <i class="fa fa-filter"></i>
                </button>
                <span class="input">
                  <span class="icon left">
                    <i class="fa fa-search"></i>
                  </span>
                  <input class="filter-input"
                         th:attr="data-name=${fieldName}"
                         th:placeholder="#{${fieldFriendlyName}}"
                         type="text"/>
                  <span class="icon delete-text">
                    <i class="fa fa-times-circle"></i>
                  </span>
                </span>
              </div>

            </div>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>


</div>

<footer>
  <script type="text/javascript" src="../../lib/jquery/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery/plugins/jquery.custom-scrollbar.min.js"></script>
  <script type="text/javascript" src="../../js/tallybook/range.js"></script>
  <script type="text/javascript" src="../../js/tallybook/entity.js"></script>
  <script type="text/javascript" src="../../js/tallybook/entity-grid.js"></script>
  <script type="text/javascript" src="../../js/admin/admin-init.js"></script>
</footer>
</body>
</html>