<div class="action-group" style="display:none;" th:fragment="entity-actions">
  <button type="button" class="btn btn-default action-btn" data-action="add" data-edit-in-modal="true" data-action-url=""><span class="fa fa-plus" aria-hidden="true"></span> New</button>
  <button type="button" class="btn btn-default action-btn" data-action="reorder" data-action-url=""><span class="fa fa-bars" aria-hidden="true"></span> Reorder</button>
  <button type="button" class="btn btn-default action-btn entity-action" th:disabled="true" data-action="update" data-edit-in-modal="true" data-action-url="" ><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Edit</button>
  <button type="button" class="btn btn-default action-btn entity-action" th:disabled="true" data-action="delete" data-action-url="" ><span class="fa fa-times" aria-hidden="true"></span> Delete</button>
  <button type="button" class="btn btn-default action-btn entity-action" th:disabled="true" data-action="save" data-action-url="" ><span class="fa fa-floppy-o" aria-hidden="true"></span> Save</button>
</div>
