<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/bootstrap-3.3.4/css/bootstrap.css"/>

  <link rel="stylesheet" type="text/css" href="../../css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/admin-layout.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/jquery/plugins/jquery.custom-scrollbar.css"/>

  <link rel="stylesheet" type="text/css" href="../../css/component/general.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/entity/entity.css"/>

</head>
<body>
<div th:fragment="full_entity_grid">
  <div class="entity-grid-container entity-grid-autofill"
       data-recordranges=""
       data-totalrecords="0"
       data-pagesize="0"
       data-baseurl="/">
    <div class="data-content"><p th:attr="data-content=${data}"></p></div>
    <div class="header">
      <table class="table table-condensed table-hover">
        <thead>
        <tr></tr>
        </thead>
      </table>
    </div>

    <div class="body default-skin ">
      <table class="table table-condensed table-hover">
        <thead>
        <tr class="width-control-header"></tr>
        </thead>
        <tbody class="real-data">
        <tr class="empty-mark">
          <td class="entity-grid-no-results" th:inline="text">
            [[#{general.NoRecordsFound}]]
          </td>
        </tr>
        <!--/*-->
        <!-- FOLLOWING WILL BE DELETED BY THYMELEAF -->
        <tr data-entity-id="0" data-entity-type="xx.xx.xx.Xxx" data-entity-path="/xx/0"
            data-entity-name="Name">
        </tr>
        <!--*/-->
        </tbody>
      </table>

    </div>
    <span class="spinner">
      <i class="spinner-item fa fa-spin fa-spinner"></i>
    </span>

    <div class="footer">
      <div>
          <span>
            <span class="screen-range-of-results"
                  th:utext="#{general.ScreenRange_OfResults_Unescaped}"/>
          </span>
      </div>
    </div>

  </div>
</div>

<footer>
  <script type="text/javascript" src="../../lib/jquery/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="../../lib/jquery/plugins/jquery.ba-dotimeout.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery/plugins/jquery.custom-scrollbar.min.js"></script>
  <script type="text/javascript" src="../../js/tallybook/range.js"></script>
  <script type="text/javascript" src="../../js/tallybook/entity.js"></script>
  <script type="text/javascript" src="../../js/tallybook/entity-grid.js"></script>
  <script type="text/javascript" src="../../js/admin/admin-init.js"></script>
</footer>
</body>
</html>