
div.listgrid-wrapper{
    margin-bottom: 15px;
    margin-top: 15px;
}

/*  Header Wrapper  */

div.listgrid-header-wrapper{
    background: #F5F5F5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #DDD;
}
div.listgrid-header-wrapper > table{
    margin-bottom: 0;
}

div.listgrid-header-wrapper > table > thead th{
    padding: 5px 8px;
    border-bottom: none;
}

div.listgrid-header-wrapper table > thead{
    /*
     background: #F5F5F5;

     border: 1px solid #DDD;
     border-bottom: none;
     min-height: 23px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;


     border-right: 1px solid #DDD;
     border-top: 1px solid #DDD;
     */
}
div.listgrid-header-wrapper thead tr>th.listgrid-column .listgrid-column-title{
    display: inline;
}

div.listgrid-header-wrapper thead tr>th.listgrid-column .listgrid-column-title > .listgrid-column-filter-sort-container{
    position: absolute;
    right: 0px;
    display: inline-block;
    padding: 0 5px 0 0;
}

div.listgrid-header-wrapper thead tr>th.listgrid-column div.resizer {
    color: #DDD;
    right: -8px;
    cursor: col-resize;
    position: absolute;
    display: inline-block;
}

div.listgrid-header-wrapper thead tr>th.listgrid-column:last-child div.resizer {
    display: none;
}

div.listgrid-header-wrapper thead tr>th.listgrid-column div.listgrid-column-filter-sort-container>i {
    color: #B9B9B9;
    margin: 0px 0px 0px 4px;
    cursor: pointer;
}

/*  Body Wrapper  */

div.listgrid-body-wrapper{
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
div.listgrid-body-wrapper table.listgrid-table {
    table-layout: fixed;;
}
div.listgrid-body-wrapper table.listgrid-table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*  Body table Wrapper  */
table.listgrid-table{
    margin-bottom: 0;
}
table.listgrid-table > thead > tr > th{
    padding: 0;
    border: 0;
}

/*  Footer Wrapper  */
div.listgrid-footer-wrapper{
    border: 1px solid #DDD;
    margin-top: 0;
    margin-bottom: 0px;

    text-align: center;
    background-color: #EEE;
    display: block;
    padding: 4px 10px;
    border-top: none;
    min-height: 23px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.listgrid-table-wrapper table{
    margin-bottom: 0;
    border-bottom: 1px solid #DDD;
}


div.listgrid-table-wrapper table > tbody{
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

div.listgrid-table-wrapper > div.listgrid-table-footer{
    text-align: center;
    background-color: #EEE;
    display: block;
    padding: 4px 10px;
    border: 1px solid #DDD;
    border-top: none;
    min-height: 23px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

span.listgrid-table-spinner-container {
    text-align: center;
    display: none;
}



/* Override jquert.custom-scrollbar.css */
div.listgrid-container > div.listgrid-body-wrapper .viewport .overview {
    position: inherit;
}


i.listgrid-table-spinner{
    position: absolute;
    font-size: 20px;
}
