<section id="contentEntityListContainer" th:fragment="content">

  <div class="slide-show right production-hide" style="width: 90%;">
    <div class="indexer">
      <span>Grid Template</span>
    </div>
    <div class="content">
      <div th:include="components/templates/grid-template :: full-template"
           class="template grid-template"/>
    </div>
  </div>

  <div th:include="components/entity-grid :: full_entity_grid"
       th:with="data=${queryResult}"
       data-grid-scope="main"
       data-entity-grid-align-type="window"
       data-entity-grid-align-offset="50"/>

</section>
<div th:fragment="scripts">
  <script type="text/javascript" th:src="@{/js/tallybook/entity-grid.js}"
          src="../../js/tallybook/entity-grid.js"></script>
</div>