<section id="contentEntityFormContainer" th:fragment="content">

  <div class="slide-show right production-hide" style="width: 90%;">
    <div class="indexer">
      <span>Form Template</span>
    </div>
    <div class="content">
      <div th:include="components/templates/form-template :: full-template"
           class="template form-template"/>
    </div>
  </div>

  <div th:include="components/entity-form"
       th:with="data=${readResult}"/>

</section>

<div th:fragment="scripts">
  <script type="text/javascript" th:src="@{/js/tallybook/entity-form.js}"
          src="../../js/tallybook/entity-form.js"></script>
</div>