@import url('entity-page.css');
@import url('entity-form.css');
@import url('entity-grid.css');
@import url('entity-filter.css');
@import url('entity-modal.css');

section#contentContainer div.entity-listgrid-action-row{
    margin-bottom: 15px;
}

section#contentContainer div.entity-grid-container{

}

section#contentContainer .entity-content-main{
    margin-left: 0;
    background: #fff;
    width: 100%;
    border: 2px solid #CCC;
    float: right;
    position: relative;
    border-top: 0px;
    padding: 15px 15px 15px 15px;
}

section#contentContainer ol.breadcrumb {
    padding: 4px 15px;
    margin-bottom: 0px;
    display: inline-block;
}

section#contentContainer ol.breadcrumb li:last-child > span{
    text-transform: capitalize;
    
}

.action-group{
    text-align: right;
    /* padding-right: 6px; */
}
.action-group .action-control,
.action-group .action-control .btn{
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;

}